.section-encounters
{
  display: grid;
  place-items: center;
}

.article-encounters
{
text-align: center;
 padding: 1rem;
}




.content-img
{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 4px 4px 16px #222;
  margin-left: auto;
  margin-right: auto;
}


.content-img img
{
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.wrapper--article
{
  display: flex;
  flex-direction: column;
  text-align: left;
}



@media all and (min-width: 768px) {

  .content-parragraf
  {
    width: 50%;
  }

  .wrapper--article
  {
    flex-direction: row;
    margin: 3rem 0px;
  }

  .wrapper--article_reverse
  {
    flex-direction: row-reverse;
  }

  .content-img
  {
    display: flex;
    align-self: center;
  }
}

@media all and (min-width: 1024px) {

  .article-encounters
  {
    max-width: 1200px;
  }



  }


.bg-color-article
{
  background-color: #0c2931;
  color: #fff;
}

.bg-color-content
{ 
  display: grid;
place-content: center;
  width: 100vw;
  background-color: #0c2931;
}