nav
{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.ul-nav
{
  display: none;
}

@media screen and (min-width:760px) {
  .ul-nav{
    display: flex;
  }
  .icon-menu{
    display: none;
  }
}

.ul-nav li
{
  padding: 2px 5px;
  margin: 0px 20px;
  list-style: none;
  cursor: pointer;
}






.ul-nav li a 
{
text-decoration: none;
color: #fff;
font-size: 16px;
padding: 10px;
border-radius: 10px;
font-weight: 600;

}

.ul-nav li a:hover{
  background-color: #214c5b;

}

.icon-menu
{
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}
