.scroll-nav
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 10s ease-in-out;
}


.scroll-nav li 
{
  list-style: none;
  margin: 16px;
}


.scroll-nav li a 
{
text-decoration: none;
color: #fff;
font-size: 20px;
}

.icon-menu-scroll
{
  position: absolute;
  top: 25px;
  right: 70px;
}