footer{
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

footer div {
  font-size: 25px;

}

.icons-footer
{
  margin: 0 10px;
}